In [2]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Using cached pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
Installing collected packages: pandas
Successfully installed pandas-2.3.3

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\USER\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
df = pd.read_json("sales.json")

In [5]:
df

,CustomerID,FirstName,LastName,Country,Gender,Age,TotalPurchase,LastPurchaseDate
0,1,James,Okoro,Nigeria,Male,32,420.50,2025-10-15
1,2,Ada,Umeh,Ghana,Female,27,380.00,2025-09-23
2,3,John,Doe,Kenya,Male,41,1020.75,2025-11-01
3,4,Mary,Adeyemi,Nigeria,Female,35,650.20,2025-10-28
4,5,Samuel,Mutiso,Kenya,Male,29,295.40,2025-08-11

GENERATING A COLUMN

In [ ]:
df["Quantity"] = [3,4,1,5,6]

In [ ]:
df

In [ ]:
df["sales"] = df["TotalPurchase"] * df["Quantity"]

In [ ]:
df

In [ ]:
import numpy as np

CASEATATEMENT

In [ ]:
df["Order Group"] = np.where(df["Quantity"] > 1, "Multiple Order" , "Single Quantity")

In [ ]:
df

In [ ]:
df["Age"] > 30

In [ ]:
df[df["Age"] > 30]

In [ ]:
df['FirstName'] == 'James'

In [ ]:
df[df['FirstName'] == 'James']

In [ ]:
## filter out where the sales is between 1500 and 2000

x = 1700

if 1500 >= x <= 2000:
   print("x is between 1500 and 2000") 
else :
    print("x is not between 1500 and 2000")

In [ ]:
df_filtered = df[df["sales"].between(1500, 2000)]

In [ ]:
df_filtered

In [ ]:
df[(df['FirstName'] == 'John') | (df["Quantity"] > 3)]

In [ ]:
df.shape

In [6]:
import pandas as pd