# Introduction To Python

In [1]:
print ("Hello DataSabis")

Hello DataSabis

In [2]:
print ("Hello World" )
print ("Hello Sabi")
print ("Hello Mukram")

Hello World
Hello Sabi
Hello Mukram

In [3]:
print ("Hello World",end = 
'\++++')
print ("Hello Sabi")
print ("Hello Mukram")

Hello World\++++Hello Sabi
Hello Mukram

<>:2: SyntaxWarning: invalid escape sequence '\+'
<>:2: SyntaxWarning: invalid escape sequence '\+'
C:\Users\USER\AppData\Local\Temp\ipykernel_16176\258407052.py:2: SyntaxWarning: invalid escape sequence '\+'
  '\++++')

In [5]:
print (2, 3, 4, sep='+')

2+3+4

In [6]:
print(45+2)

47

VARIABLE AND VALUES

In [7]:
name = 'mukran'

In [8]:
print (name)

mukran

In [9]:
13+ 9

22

In [10]:
13-2

11

In [11]:
12/2

6.0

In [12]:
5 % 2

1

In [13]:
5//2

2

In [3]:
name = input ("Enter Name")
age = input ("Enter Age")
favourite_food = input ("Enter Favourite Food")

In [2]:
print (favourite_food)

Enter Favourite Food

In [4]:
"My name is " + " " + name + ". I am " + age + "years old" + ". " + "My Favorite Food Is " + favourite_food

'My name is  Amusa Mukram . I am 27years old. My Favorite Food Is Amala'

STRING FORMAT

In [5]:
print(f"My name is {name}. I am {age}years old. My Favourite Food is {favourite_food}")

My name is Amusa Mukram . I am 27years old. My Favourite Food is Amala

In [ ]:
height

In [8]:
height = float(input("Enter your height in meters"))
weight = float(input("Enter your weight in kilogram"))

In [7]:
bmi = weight / (height ** 2)

In [9]:
print(f"My height is {height}m,My weight is {weight}kg, and my BMI is {round(bmi, 2)}.")

My height is 50.0m,My weight is 36.0kg, and my BMI is 0.04.

In [3]:
pin = input("Enter your Pin")
if pin == "1709":
   print("pin is correct")
else:
   print ("incorect pin")

incorect pin

In [7]:
number = float(input("Enter a Number"))
if number % 2 == 0:
   print(f"THE NUMBER {number} is an even number")
else:
    print(f"The Number {number} is an odd number")

The Number 567876545674345.0 is an odd number

In [8]:
print("Welcome to my age grouping")

age = int(input("Enter your age"))
if age <= 12:
    print("Your are a baby")
elif age <= 19:
    print("you are a tennager")
elif age < 46:
    print('you are an adult')  
else:
    print("you are old.")

Welcome to my age grouping
you are old.

In [23]:
print("welcome TO mukky pizza shop")
print(" ")
print("MENU")
print("""ESPRESSO  20,000" " ,"
      "CAPPUCCINO 10,000" " ,"
      "AMERICANO 21,500""")

order = input("Enter Your Order")
if order.upper == 'ESPRESSO':
   print ("please you are paying 20,000 for your ESPRESSO  order ")
elif order.upper =="CAPPUCCINO":
     print("you are paying 10,000 for your CAPPUCCINO order ")  
elif order.upper == "AMERICANO":
     print ("you are paying 21,500 for your AMERICANO order")   

else:
    print("Order not available")
print (" ")
print("THANKS FOR YOUR PATRONAGE")

welcome TO mukky pizza shop

MENU
ESPRESSO  20,000" " ,"
      "CAPPUCCINO 10,000" " ,"
      "AMERICANO 21,500
Order not available

THANKS FOR YOUR PATRONAGE

In [24]:
age = int(input("Enter a number"))
height = float(input("Enter Height"))

if age > 18:
    if height > 6.50:
       print("You are eligible to become a basket baller")
    else:
        print("you are not eligible because of height requirement")
else:
    print("You are not eligible")

You are eligible to become a basket baller

In [1]:
age = int(input("Enter a number"))
height = float(input("Enter Height"))

if age > 18:
    if height > 6.50:
       print("You are eligible to become a basket baller")
    else:
        print("you are not eligible because of height requirement")
else:
    print("You are not eligible")

You are not eligible

In [ ]:
reassigning and updating

# üçï 100 Days of Python ‚Äî Conditional Statements Practice

## Day 12: Adding Toppings

### üß© Challenge

You‚Äôre continuing your pizza order program.  
Now you‚Äôll **add toppings and calculate the final bill** using **nested conditionals**.

---

### üîπ Instructions

1. Ask the user to choose a pizza size:  
   - `S` for Small  
   - `M` for Medium  
   - `L` for Large  

   - Prices:
     - Small Pizza = **$15**
     - Medium Pizza = **$20**
     - Large Pizza = **$25**

2. Ask the user if they want **pepperoni**:  
   - If **yes**:
     - Add **$2** for a small pizza  
     - Add **$3** for medium or large pizza  

3. Ask the user if they want **extra cheese**:  
   - If **yes**, add **$1** regardless of size.

4. Finally, display their **total bill** in a friendly message.

---

### üß† Example Interaction

Welcome to Python Pizza Deliveries! üçï

üßæ Order Summary:
Pizza Type: Large Pizza
Components: Large Pizza, Pepperoni
Your final bill is: $28

In [ ]:
print("Welcome to Python Pizza Deliveries")

size = input("What size pizza do you want? S, M, or L: ")
add_pepperoni = input("Do you want pepperoni? Y or N: ")
extra_cheese = input("Do you want extra cheese? Y or N: ")
print(size)

bill = 0

if size == "S":
    bill = 15
elif size == "M":
    bill = 20
elif size == "L":
    bill = 25
else:
    print("Invalid size chosen")

if add_pepperoni == "Y":
    if size == "S":
        bill += 2
    else:
        bill += 3

if extra_cheese == "Y":
    bill += 1

print(f"Your final bill is: ${bill}")
print(size)
print(f"the pizza you ordered is {size} and you are paying ${bill}")

Welcome to Python Pizza Deliveries
L
Your final bill is: $29
L
the pizza you ordered is L and you are paying $29

In [17]:
X, Y =9,12

DATA STRUCTURE

a = list()

a = list()

In [18]:
a = list()

In [19]:
print(a)

[]

In [20]:
print(type(a))

<class 'list'>

In [21]:
type(a)

list

In [22]:
b = []

In [23]:
type(b)

list

In [24]:
print(type(b))

<class 'list'>

In [ ]:
fruits = ["apple","banana", "cherry"]
mixed = [10,"hello", ]

In [11]:
my_list =list("python")

In [12]:
print(my_list)

['p', 'y', 't', 'h', 'o', 'n']

In [13]:
my_list[2]

't'

In [14]:
my_list[-4]

't'

In [16]:
## my_list[start: stop: step(default = 1)]
my_list[0:4:2]

['p', 't']

In [17]:
fruits = ["apple", "banana", "cherry", "date" ,"elderberry"]

In [18]:
fruits[:4]

['apple', 'banana', 'cherry', 'date']

In [19]:
fruits [1:]

['banana', 'cherry', 'date', 'elderberry']

In [20]:
fruits [1:4]

['banana', 'cherry', 'date']

In [22]:
fruits [2:5]

['cherry', 'date', 'elderberry']

In [23]:
fruits [-1:]

['elderberry']

In [44]:
fruits [::-1]

['elderberry', 'date', 'cherry', 'banana', 'apple']

In [50]:
fruits[-3::-5]

['cherry']

In [52]:
nested_list = [1,2,3, ["Hello", "John",[1,2,16,17, ["Paul", True],"Jhon"]], "Sam"]
nested_list[3]

['Hello', 'John', [1, 2, 16, 17, ['Paul', True], 'Jhon']]

In [53]:
x = nested_list [3]

In [54]:
x

['Hello', 'John', [1, 2, 16, 17, ['Paul', True], 'Jhon']]

In [55]:
x[2]

[1, 2, 16, 17, ['Paul', True], 'Jhon']

In [56]:
y =x[2]

In [57]:
y

[1, 2, 16, 17, ['Paul', True], 'Jhon']

In [58]:
y[-1]

'Jhon'

In [59]:
nested_list

[1, 2, 3, ['Hello', 'John', [1, 2, 16, 17, ['Paul', True], 'Jhon']], 'Sam']

In [60]:
nested_list[3][2][5]

'Jhon'

In [61]:
nested_list[3][2][0:4]

[1, 2, 16, 17]

MODIFICATION

In [62]:
fruits

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [63]:
fruits[1]="beans"

In [64]:
fruits

['apple', 'beans', 'cherry', 'date', 'elderberry']

In [71]:
fruits [2 : 4]=["carrot","dragon fruit"]

In [66]:
fruits

['apple', 'beans', 'carrot', 'dragon fruit', 'elderberry']

In [68]:
fruits

['apple', 'beans', 'carrot', 'dragon fruit', 'elderberry']

In [69]:
print(fruits)

['apple', 'beans', 'carrot', 'dragon fruit', 'elderberry']

In [73]:
fruits[0::4]

['apple', 'elderberry']

In [74]:
fruits[0::4]= ["Avocado", "eggplant"]

In [75]:
### list methods
# my_list.method_name()

fruits.append("mukram")

In [76]:
fruits

['Avocado', 'beans', 'carrot', 'dragon fruit', 'eggplant', 'mukram']

In [77]:
fruits.insert(2, "cherry")

In [78]:
print(fruits)

['Avocado', 'beans', 'cherry', 'carrot', 'dragon fruit', 'eggplant', 'mukram']

In [79]:
more_fruits = ["per","grape"]
fruits.extend(more_fruits)

In [80]:
fruits

['Avocado',
 'beans',
 'cherry',
 'carrot',
 'dragon fruit',
 'eggplant',
 'mukram',
 'per',
 'grape']

In [81]:
fruits.extend(["pear","cucumber"])

In [82]:
fruits

['Avocado',
 'beans',
 'cherry',
 'carrot',
 'dragon fruit',
 'eggplant',
 'mukram',
 'per',
 'grape',
 'pear',
 'cucumber']

In [83]:
fruits.pop()

'cucumber'

In [84]:
del fruits[-2]

In [85]:
fruits

['Avocado',
 'beans',
 'cherry',
 'carrot',
 'dragon fruit',
 'eggplant',
 'mukram',
 'per',
 'pear']

In [86]:
2 in [3,2,4,5,6]

True

In [87]:
2 not in [3,4,5,2,6]

False

In [88]:
min[0.4,4,80,7,64]

TypeError: 'builtin_function_or_method' object is not subscriptable

TUPPLE

A TUPLE IS AN ORDERED, IMMUTABLE, AND HETEROGENEOUS COLLECTION OF ELEMENTS ENCLOSED IN PARENTHESES

In [90]:
numbers = (1,2,3,4)
fruits = ("apple","banana","cherry")
mixed = (10,"hello",3.14,True)

In [15]:
range(10)

range(0, 10)

In [16]:
print(tuple(range(0,100,3)))

(0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99)

DICTIONARY

In [17]:
empty = {}

In [18]:
type (empty)

dict

In [19]:
empty2 = dict()

In [20]:
empty2

{}

In [21]:
type (empty2)

dict

In [22]:
mukram ={"name": "Amusa-Kadri Mukram","age": 19, 2: 100}

In [ ]:
mukram = dict(name="Amusa-Kadri Mukram",age=19,address="sabo yaba" )

In [24]:
mukram

{'name': 'Amusa-Kadri Mukram', 'age': 19, 'address': 'sabo yaba'}

In [26]:
mukram

{'name': 'Amusa-Kadri Mukram', 'age': 19, 'address': 'sabo yaba'}

ACCESSING A DICTIONARY

In [28]:
mukram["name"]

'Amusa-Kadri Mukram'

In [29]:
gomycode_students = {
    "student1": {
        "name": "Mukram", "age": 18, "city": "Lagos" 
    },
    "student2": {
        "name": "Victory", "age": 28, "city": "Benin"
    },
    "student3": {
        "name": "Kudirat", "age": 25, "city": "Ibadan"
    },
    "student4": {
        "name": "Promise", "age": 21, "city": "Abuja"
    }
}

In [41]:
gomycode_students.pop("age")

25

In [43]:
student5 ={
    "name": "Taofeek",
    "age" : 24,
    "department": "Data science ",
    "level" : 400,
    "gpa": 4.72
}

In [42]:
gomycode_students

{'student1': {'name': 'Mukram', 'age': 18, 'city': 'Lagos'},
 'student2': {'name': 'Victory', 'age': 28, 'city': 'Benin'},
 'student3': {'name': 'Kudirat', 'age': 25, 'city': 'Ibadan'},
 'student4': {'name': 'Promise', 'age': 21, 'city': 'Abuja'}}

LOOPS

In [1]:
x = list (range(1,6))

In [2]:
x

[1, 2, 3, 4, 5]

In [5]:
for num in x:
    print(num)

1
2
3
4
5

In [6]:
for num in range(1 ,6):
    print(num + 2)

3
4
5
6
7

In [7]:
fruits = ['apple','banana','dragon fruit','fish','fruits',]

In [9]:
import random

In [10]:
random.choice(fruits)

'dragon fruit'

In [ ]:
alpha['k', 'h','g','b','a','y']

password =""
for _ in eq

In [1]:
### 11/20/2025

x = list(range(0,31))
print (x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [2]:
even_list = []
odd_lists = []

for num in x :
    if num % 2 == 0:
        even_list.append(num)
    else:
        odd_lists.append(num)

In [3]:
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [4]:
odd_lists

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [5]:
even_list = [num for num in x if num % 2 == 0]

In [6]:
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [11]:
odd_lists = [num for num in x if num % 2 != 0]

In [12]:
odd_lists

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [13]:
odd_string = [str(num)for num in odd_lists]
odd_string

['1',
 '3',
 '5',
 '7',
 '9',
 '11',
 '13',
 '15',
 '17',
 '19',
 '21',
 '23',
 '25',
 '27',
 '29']

In [14]:
"".join(odd_string)

'1357911131517192123252729'

In [15]:
my_dict = {
     "name": "Amusa Mukram",
     "Age": 21,
     "Job": "Data Analst & Data Engineer",
     "Address": "Somolu Bariga"
}

In [17]:
for item in my_dict:
    print (item)

name
Age
Job
Address

In [ ]:
for key, value in my_dict.items():
    print(f)

In [ ]:

x = list(range(0,101))
print (x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print(i ,"FizzBuzz")
    elif i % 3 == 0:
        print(i ,"Fizz")
    elif i % 5 == 0:
        print(i ,"Buzz")
    else:
        print(i)

1
2
3 Fizz
4
5 Buzz
6 Fizz
7
8
9 Fizz
10 Buzz
11
12 Fizz
13
14
15 FizzBuzz
16
17
18 Fizz
19
20 Buzz
21 Fizz
22
23
24 Fizz
25 Buzz
26
27 Fizz
28
29
30 FizzBuzz
31
32
33 Fizz
34
35 Buzz
36 Fizz
37
38
39 Fizz
40 Buzz
41
42 Fizz
43
44
45 FizzBuzz
46
47
48 Fizz
49
50 Buzz
51 Fizz
52
53
54 Fizz
55 Buzz
56
57 Fizz
58
59
60 FizzBuzz
61
62
63 Fizz
64
65 Buzz
66 Fizz
67
68
69 Fizz
70 Buzz
71
72 Fizz
73
74
75 FizzBuzz
76
77
78 Fizz
79
80 Buzz
81 Fizz
82
83
84 Fizz
85 Buzz
86
87 Fizz
88
89
90 FizzBuzz
91
92
93 Fizz
94
95 Buzz
96 Fizz
97
98
99 Fizz
100 Buzz

FUNCTION


def function_name(argument)
###### do something

In [23]:
def main():
    print ("Hello Class")

In [ ]:
def main (g)
    print

TypeError: type() takes 1 or 3 arguments

In [ ]:
name = input("What's your name")

def main(name, food):
    print(f"Hello {name} welcome to our store")
    print(f"what is your  {order}")

In [33]:
main ("promise")

Hello promise welcome to our store

In [34]:
main ("Mukram")

Hello Mukram welcome to our store

In [35]:
name = "Mukram Ola"

In [36]:
main(name)

Hello Mukram Ola welcome to our store

In [39]:
def main (firstname , lastname):
    print(f"My name is {firstname} {lastname}")
main ("Amusa " , "Mukram")

My name is Amusa  Mukram

In [40]:
def main (firstname , lastname):
    print(f"My name is {firstname} {lastname}")
main (lastname ="Amusa " ,firstname= "Mukram")

My name is Mukram Amusa

In [41]:
def main(g):
    print(f"My name is {g}")

In [ ]:
def fahrenheit_to_celsius(f):
    c = (5/9) * (f - 32)
    return c

temp_f = float(input("Enter temperature in Fahrenheit: "))
temp_c = fahrenheit_to_celsius(temp_f)

print(f"{temp_f}¬∞F is equal to {temp_c:.2f}¬∞C")

400.0¬∞F is equal to 204.44¬∞C

In [47]:
def fahrenheit_to_celsius(f):
    print(f"The conversion of {f} to celcius is {(5/9 * f -32):.3f}")

In [48]:
fahrenheit_to_celsius(120)

The conversion of 120 to celcius is 34.667

In [50]:
def fahrenheit_to_celsius(f):
    print(f"The canversion of {f} to celcius is {round(5/9 * f-32 , 3)}")

In [51]:
fahrenheit_to_celsius(120)

The canversion of 120 to celcius is 34.667

In [52]:
def add(a , b ):
    print =(a +b)

In [55]:
y = add(3, 5)
print(y)

None

In [4]:
def add(a , b):
    return a + b

In [14]:
def student(name, age):
    print(name , age)

student (age =25 ,name ="Tayo")

Tayo 25

In [12]:
def student(name, age):
    print(name , age)

    student (25 ,"Tayo")

In [11]:
def student(name, age):
    print(name , age)

In [16]:
celsius_temp = [30.0, 60.0, 75.0, 100.0, 120.0]

fahrenheit_temp = [(c * 9/5) + 32 for c in celsius_temp]

print(fahrenheit_temp)

[86.0, 140.0, 167.0, 212.0, 248.0]

In [18]:
def to_fahrenheit(c):
    return (c * 9/5) + 32

In [19]:
def convert_list():
    celsius_temp = [30.0, 60.0, 75.0, 100.0, 120.0]
    fahrenheit_temp = [to_fahrenheit(c) for c in celsius_temp]
    return fahrenheit_temp

print(convert_list())

[86.0, 140.0, 167.0, 212.0, 248.0]

In [ ]:
# Write a function that returns a dictionary of word lengths for a list of words

my_list = ['Apple', 'Banana', 'Carrot', 'Dragonfruits', 'eggplant']

answer = {'Apple': 5, "Banana": 6, .....}

In [24]:
my_dict = {}

def word_len(words):
    return {word: len(word) for word in words}

my_list = ['Apple', 'Banana', 'Carrot', 'Dragonfruits', 'eggplant']
my_dict = word_len(my_list)

print(my_dict)

{'Apple': 5, 'Banana': 6, 'Carrot': 6, 'Dragonfruits': 12, 'eggplant': 8}

In [ ]:
print("Hello " + input("What is your name ")+ "\n" )

Hello 12

In [ ]:
name = input("What is your name? ")
age =  input("What is your age ")

In [ ]:
##this code would make us input our name and age using the input function
name = input("What is your name? ")
age = input("How old are you? ")
print("Hello " + name + "," "\n" "you are " + age + " years old.")

Hello mukram,
you are 19 years old.

````python
class classname:
    ## Attribute
    ## Action(method|functions) (def)
````

In [25]:
def main():
    name = input("Enter name")
    school = input ("Enter school")

    return f"{name} from {school}"


main()

"Amusa Mukram from King's college"

In [27]:
class students:
    main()

In [28]:
students()

In [29]:
class students:
    ...