In [3]:
import pandas as pd

df = pd.read_csv("customer_sales_raw.csv")
df.head(18)

,CustomerID,Name,Email,Date,Amount,Country
0,73,Jennifer Ade,jennifer17@@gmail.com,26/06/21,196.06,kenya
1,151,musa doe,musa43@gmail.com,2021-28-09,381.38,Ghana
2,85,Aisha Ali,aisha33@company.ng,2023/01/04,349.69,ghana
3,26,Aisha Otto,aisha56@yahoo.com,02-05-2023,272.15,kenya
4,41,SamuelSmith,samuelsmith63@company.ng,07/11/2022,127.35,Kenya
5,158,Mike Mensah,mike24@gmail.com,2022/01/07,421.88,Nigeria
6,53,Grace Oladipo,grace52@hotmail.com,14-08-2023,250.85,ghana
7,175,Musty John,musty43@mail.com,2021-20-04,370.99,Ghana
8,74,Peace Khan,peace2@hotmail.com,01/28/2024,110.87,ghana
9,127,John Ali,john59@@company.ng,03/06/21,458.57,Ghana
10,43,Samuel Smith,samuel79@mail.com,26/09/22,313.06,kenya
11,57,Jennifer Amusa,jennifer76@yahoo.com,12/11/2024,361.92,kenya
12,101,MikeJohn,mikejohn61@yahoo.com,2023/05/05,-56.62,Nigeria
13,22,peace amusa,peace6@company.ng,10-07-2022,510.42,Nigeria
14,43,JenniferOladipo,jenniferoladipo91@hotmail.com,05/02/2022,226.05,Ghana
15,158,Grace Rahman,grace11@company.ng,01/12/24,434.94,kenya
16,29,mary mensah,mary77@mail.com,24-01-2021,264.88,Ghana
17,79,Jane Ade,jane92@yahoo.com,04/26/2023,371.07,ghana

In [4]:
## this give me information about the data am working on 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  310 non-null    int64
 1   Name        310 non-null    object
 2   Email       302 non-null    object
 3   Date        310 non-null    object
 4   Amount      310 non-null    float64
 5   Country     310 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 14.7+ KB

In [5]:
# with my df.info()
# i was able to know that i have 8 email missing

In [6]:
##count how many missing exist in each column
df.isnull().sum()

CustomerID    0
Name          0
Email         8
Date          0
Amount        0
Country       0
dtype: int64

In [ ]:
# we have been able to drop our duplicated rows from 310 to 300
df = df.drop_duplicates()
df.shape

(300, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, 0 to 309
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  300 non-null    int64
 1   Name        300 non-null    object
 2   Email       294 non-null    object
 3   Date        300 non-null    object
 4   Amount      300 non-null    float64
 5   Country     300 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 16.4+ KB

In [9]:
#we had 8 missing mails and now they would all be filled up with unknown@example.com
df['Email'] = df['Email'].fillna('unknown@example.com')

In [ ]:
#now we dont have any missing value 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300 entries, 0 to 309
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  300 non-null    int64
 1   Name        300 non-null    object
 2   Email       300 non-null    object
 3   Date        300 non-null    object
 4   Amount      300 non-null    float64
 5   Country     300 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 16.4+ KB

In [11]:
# Remove spaces
df['Email'] = df['Email'].str.strip()

# Replace double @@ with single @
df['Email'] = df['Email'].str.replace('@@', '@')

# Optional: convert all emails to lowercase
df['Email'] = df['Email'].str.lower()

In [12]:
# Remove quotes and extra symbols, then title case
df['Name'] = df['Name'].str.replace('"','').str.replace('!',' ').str.replace('@',' ').str.strip().str.title()

In [13]:
df['Country'] = df['Country'].str.strip().str.lower().replace({
    'nigeria':'Nigeria',
    'ghana':'Ghana',
    'kenya':'Kenya'
})

ðŸ”¹ Explanation

pd.to_datetime(df['Date']) â†’ converts strings to datetime objects.

dayfirst=True â†’ interprets dates like 26/06/21 as 26 June 2021.

errors='coerce' â†’ if a date is invalid (like 2021-28-09), it becomes NaT (Not a Time).

In [14]:
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')

C:\Users\USER\AppData\Local\Temp\ipykernel_23508\2102836847.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date'] = pd.to_datetime(df['Date'], dayfirst=True, errors='coerce')

In [15]:
df[df['Date'].isna()]

,CustomerID,Name,Email,Date,Amount,Country
35,179,Samuel Ali,samuel29@company.ng,NaT,248.59,Kenya
83,27,Musty Smith,musty22@hotmail.com,NaT,186.94,Nigeria
148,47,Jennifer Amusa,jennifer62@yahoo.com,NaT,323.06,Nigeria
165,54,Mike Mensah,mike90@company.ng,NaT,397.71,Nigeria
222,82,Samuelotto,samuelotto51@hotmail.com,NaT,224.48,Ghana
247,56,Peace Ade,peace16@company.ng,NaT,462.46,Nigeria

In [ ]:
## i dropped 6 dates column that where not having date and now we are left with 294
df = df.dropna(subset=['Date'])
df.shape

(294, 6)

In [17]:
## we are going to be removing negative signs right now from the amount row 
df['Amount'] = df['Amount'].abs()

In [19]:
df.shape

(294, 6)

In [20]:
df.to_csv('customer_sales_cleaned.csv', index=False)

In [25]:
# Take first 10 rows
preview = df.head(10)

In [ ]:
#this is the first ten roles of our data 
print(preview.to_markdown(index=False))

|   CustomerID | Name            | Email                    | Date                |   Amount | Country   |
|-------------:|:----------------|:-------------------------|:--------------------|---------:|:----------|
|           73 | Jennifer    Ade | jennifer17@gmail.com     | 2021-06-26 00:00:00 |   196.06 | Kenya     |
|          151 | Musa Doe        | musa43@gmail.com         | 2021-09-28 00:00:00 |   381.38 | Ghana     |
|           85 | Aisha Ali       | aisha33@company.ng       | 2023-04-01 00:00:00 |   349.69 | Ghana     |
|           26 | Aisha Otto      | aisha56@yahoo.com        | 2023-05-02 00:00:00 |   272.15 | Kenya     |
|           41 | Samuelsmith     | samuelsmith63@company.ng | 2022-11-07 00:00:00 |   127.35 | Kenya     |
|          158 | Mike Mensah     | mike24@gmail.com         | 2022-01-07 00:00:00 |   421.88 | Nigeria   |
|           53 | Grace  Oladipo  | grace52@hotmail.com      | 2023-08-14 00:00:00 |   250.85 | Ghana     |
|          175 | Musty John      | musty43@mail.com         | 2021-04-20 00:00:00 |   370.99 | Ghana     |
|           74 | Peace Khan      | peace2@hotmail.com       | 2024-01-28 00:00:00 |   110.87 | Ghana     |
|          127 | John   Ali      | john59@company.ng        | 2021-06-03 00:00:00 |   458.57 | Ghana     |

In [24]:
pip install tabulate

Defaulting to user installation because normal site-packages is not writeable
Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: C:\Users\USER\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip