In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("mukky.csv")

In [4]:
pd

In [5]:
df

   id product  sales  quantity           city
0   1   Shirt   1500         3          Lagos
1   2   Shoes   2200         1          Abuja
2   3     Bag   1800         2         Ibadan
3   4   Watch   2500         1          Lagos
4   5     Cap   1200         4           Kano
5   6   Shirt   1700         2          Abuja
6   7   Shoes   2000         1  Port Harcourt
7   8     Bag   1600         3          Lagos
8   9   Watch   3000         1          Abuja
9  10     Cap   1100         5         Ibadan

In [5]:
df

   id product  sales  quantity           city
0   1   Shirt   1500         3          Lagos
1   2   Shoes   2200         1          Abuja
2   3     Bag   1800         2         Ibadan
3   4   Watch   2500         1          Lagos
4   5     Cap   1200         4           Kano
5   6   Shirt   1700         2          Abuja
6   7   Shoes   2000         1  Port Harcourt
7   8     Bag   1600         3          Lagos
8   9   Watch   3000         1          Abuja
9  10     Cap   1100         5         Ibadan