## Introduction To Python

In [ ]:
print("Hello DataSabis")

In [ ]:
print("Hello World")
print("Hello Sabi")
print("Hello Ibrahim")

In [ ]:
help(print)

In [ ]:
print("Hello World", end='++++') # '\n' means to go to a new line for the nnext possible utput
print("Hello Sabi")
print("Hello Ibrahim")

In [ ]:
print("Hello World", end=' ') # '\n' means to go to a new line for the nnext possible utput
print("Hello Sabi", end=' ')
print("Hello Ibrahim")

In [ ]:
print("Hello World", end='\t') # '\n' means to go to a new line for the nnext possible utput
print("Hello Sabi", end='\t')
print("Hello Ibrahim")

In [ ]:
print("HelloWorld", "HeeloIbrahim", "Hello Dele", sep='/')

In [ ]:
print(2, 3, 4, sep="____________")

In [ ]:
True

In [ ]:
False

In [ ]:
false

In [ ]:
print(45)

In [ ]:
print(45.0)

In [ ]:
print(True)

In [ ]:
print("Hello World")

In [ ]:
print('Hello World')

#### Variable and Value

In [ ]:
name = "Taofeek"

In [ ]:
print(name)

In [ ]:
name = "Oladipupo"

In [ ]:
print(name)

In [ ]:
x = 9

In [ ]:
print(x)

In [ ]:
13 + 9

In [ ]:
13 - 9

In [ ]:
12 / 2

In [ ]:
13 +9
13-9
5*6

In [ ]:
3 ** 2

In [ ]:
4 ** (1/2)

In [ ]:
5  % 2

In [ ]:
20 //3

In [ ]:
4**3 + 7 * 23 - 7 ** 2

In [ ]:
(7 * 6 + 34) * 3**4 / 3 + 54

## strings

In [ ]:
x = 'I am a boy'
print(x)

In [ ]:
x = "I am a boy"
print(x)

In [ ]:
x = 'This is taofeek's laptop'
print(x)

In [ ]:
x = "This is taofeek's laptop"
print(x)

In [ ]:
x = 'This is taofeek\'s laptop'
print(x)

In [ ]:
input()

In [ ]:
input("Enter you pin")

In [ ]:
pin = input("Enter your pin")

In [ ]:
print(pin)

In [ ]:
x = 5

In [1]:
name = input("Enter name")

In [ ]:
print(name)

In [2]:
x = "Taofeek"

type(x)

str

In [3]:
value1 = 89.56

In [4]:
type(value1)

float

In [5]:
value2 = int(value1)

In [6]:
value2

89

In [7]:
value3 = '9.08'

float(value3)

9.08

In [8]:
type(float(value3))

float

In [9]:
float(False)

0.0

In [10]:
var = input("Enter you age")

In [11]:
print(var)

78

In [12]:
type(var)

str

In [17]:
vr = int(input("Enter yoru age"))

ValueError: invalid literal for int() with base 10: '78.0'

In [14]:
print(vr)

78

In [15]:
type(vr)

int

In [18]:
vr = float(input("Enter yoru age"))

In [19]:
vr

8.0

In [24]:
"Taofeek" +" " + "Olawoye"

'Taofeek Olawoye'

In [30]:
name = input("Enter name")
age = int(input("Enter age"))
favorite_food = input("enter favorite food")

In [31]:
print(favorite_food)

Spaghatti

In [33]:
"My name is" + " " + name + '. I am ' + str(age) + 'years old' + '. ' + "My favorite food is " + favorite_food

'My name is Taofeek Oladipupo. I am 79years old. My favorite food is Spaghatti'

##### String Formatting

In [37]:
print(f"My name is {name}. I am {age}years old. My favorite food is {favorite_food}")

My name is Taofeek Oladipupo. I am 79years old. My favorite food is Spaghatti

In [38]:
print("My name is {a}. I am {b}years old. My favorite food is {c}".format(a=name, b=age, c=favorite_food))

My name is Taofeek Oladipupo. I am 79years old. My favorite food is Spaghatti

In [ ]:
# Band name generator

##### BMI Calculator

In [ ]:
# bmi = weght(kg) / (height(m) * height(m))
# Your height is .... yoyr weigth is ...., and you have a bmi of .....

height = float(input("Enter your height"))
weight = float(input("Emter your weight"))

BMI = weight / (height * height)

print(f"My weight is {weight}kg, and height is {height}m and the bmi is {BMI:.3f}kg/m2")

My weight is 80.5kg, and height is 5.75m and the bmi is 2.4347826086956523kg/m2

In [3]:
print(f"My weight is {weight}kg, and height is {height}m and the bmi is {BMI:.3f}kg/m2")

My weight is 80.5kg, and height is 5.75m and the bmi is 2.435kg/m2

In [4]:
print(f"My weight is {weight}kg, and height is {height}m and the bmi is {round(BMI, 3)}kg/m2")

My weight is 80.5kg, and height is 5.75m and the bmi is 2.435kg/m2

#### Conditional statements

```python
if condition:
    # do somethig: condition => true
else:
    # do new thing
```

==
>
<
>
>=
<=
!=

In [5]:
8 == 9

False

In [6]:
12 >= 9

True

In [7]:
(9 > 6) and ('2' != 2)

True

In [8]:
True and False

False

In [9]:
True or False

True

In [10]:
False or True

True

In [11]:
True or True

True

In [12]:
False or False

False

In [19]:
age = int(input("Enter age"))
if age <= 18:
    print(f"You are a gugugaga, because you are {age}years old")
else:
    print(f"You are an Adult, because you are {age}years old")

You are an Adult, because you are 28years old

In [1]:
pin = input("Enter your pin")
if pin == '1709':
    print("Pin is correct")
else:
    print("Incorrect pin")

Incorrect pin

In [4]:
number = float(input("Enter a number"))
if number % 2 == 0:
    print(f"tHE NUMBER {number} is an even number")
else:
    print(f"The number {number} is odd number")

tHE NUMBER 24.0 is an even number

In [10]:
print("Welcome to my Age grouping")

age = int(input("Enter your age"))
if age <= 12:
    print("You are a baby")
if age > 12 and age < 20:
    print("You are a teenager")
if age >= 20 and age < 46:
    print("You are an adult")
else:
    print("You are old.")

Welcome to my Age grouping
You are a baby
You are old.

In [9]:
print("Welcome to my Age grouping")

age = int(input("Enter your age"))
if age <= 12:
    print("You are a baby")
elif age <= 19:
    print("You are a teenager")
elif age < 46:
    print("You are an adult")
else:
    print("You are old.")

Welcome to my Age grouping
You are a teenager

```python
string.method()
```

In [18]:
"Taofeek".upper()

'TAOFEEK'

In [22]:
## Espresso
## cappuccino
## Americano 
           
print("Welcome tp Baba Tao's Coffee Shop")
print("Place your order")
print("Espresso - 1500","Americano - 2000", "Cappuccino - 2500", sep="\n")

order = input("Kindly enter your order: Espresso/Cappuccino/Americano")
if order.lower() == "espresso":
    print("Your order price is 1500")
elif order.lower() == "americano":
    print("Your order price is 2000") 
elif order.lower() == "cappuccino":
    print("Your order price is 2500")
else:
    print("Sorry, Unavailable")

Welcome tp Baba Tao's Coffee Shop
Place your order
Espresso - 1500
Americano - 2000
Cappuccino - 2500
Sorry, Unavailable

## Nested Conditional Statement

```python
if condition:
    if condition2:
        ## dp something
    else:
        ## do something new
else:
    do something entirely diffrenet
```

In [ ]:
age = int(input("Enter a number"))
height = float(input("Enter height"))

if age > 18:
    if height > 6.50:
        print("You are eligible to become a basket baller")
    else:
        print("You are not eligibele because of height requirement")
else:
    print("You are not eligible")

You are not eligibele because of height requirement

In [25]:
age = int(input("Enter a number"))
height = float(input("Enter height"))

if age >= 18 and age <= 30:
    if height > 6.50:
        print("You are eligible to become a basket baller")
    else:
        print("You are not eligibele because of height requirement")
else:
    print("You are not eligible")

You are not eligible

In [ ]:
name = "Taofeek"   


name + " Olawoye"

'Taofeek Olawoye'

In [35]:
name = name + " Olawoye"

In [36]:
name

'Taofeek Olawoye'

In [37]:
x = 78
x = x + 10

In [38]:
x

88

In [39]:
x = 78

In [40]:
x += 10 # x = x + 10

In [41]:
x

88

In [42]:
name = "Olawoye"
name += " Taofeek"

In [43]:
name

'Olawoye Taofeek'

In [44]:
x = 78

In [45]:
x -= 10 # x= x - 10

In [46]:
x

68

# üçï 100 Days of Python ‚Äî Conditional Statements Practice

## Day 12: Adding Toppings

### üß© Challenge

You‚Äôre continuing your pizza order program.  
Now you‚Äôll **add toppings and calculate the final bill** using **nested conditionals**.

---

### üîπ Instructions

1. Ask the user to choose a pizza size:  
   - `S` for Small  
   - `M` for Medium  
   - `L` for Large  

   - Prices:
     - Small Pizza = **$15**
     - Medium Pizza = **$20**
     - Large Pizza = **$25**

2. Ask the user if they want **pepperoni**:  
   - If **yes**:
     - Add **$2** for a small pizza  
     - Add **$3** for medium or large pizza  

3. Ask the user if they want **extra cheese**:  
   - If **yes**, add **$1** regardless of size.

4. Finally, display their **total bill** in a friendly message.

---

### üß† Example Interaction

In [ ]:
Enter pizza size (S, M, or L): M
Do you want pepperoni? (Y/N): Y
Do you want extra cheese? (Y/N): Y

Your final bill is: $24

In [ ]:
You ordered a Large Pizza with Pepperoni and Cheese.  
Your total is $27.

In [3]:
x = ""
x + "Taofeek"

'Taofeek'

In [5]:
"" + "Samson"

'Samson'

In [9]:
size = input("What size of Pizza do you want: (S/M/L)").lower()
bill = 0
if size == "s":
    bill = bill + 15 # bill += 15
elif size == 'm':
    bill += 20
else:
    bill += 25
    
add_pepperoni = input("Do you want Pepperoni: (Y/N)").lower()
if add_pepperoni == 'y':
    if size == "s":
        bill = bill + 2 
    else: 
        bill = bill + 3
else:
    bill = bill 
    
add_cheese = input("Do you want Cheese: (Y/N)").lower()   
if add_cheese == "y":
    bill = bill + 1
else:
    bill = bill 
print(f"The price for your pizza is ${bill}")

The price for your pizza is $29

In [2]:
print(bill)

20

In [10]:
size = input("What size of Pizza do you want: (S/M/L)").lower()
bill = 0
if size == "s":
    bill = bill + 15 # bill += 15
elif size == 'm':
    bill += 20
else:
    bill += 25
add_pepperoni = input("Do you want Pepperoni: (Y/N)").lower()
if add_pepperoni == 'y':
    if size == "s":
        bill = bill + 2 
    else: 
        bill = bill + 3
add_cheese = input("Do you want Cheese: (Y/N)").lower()   
if add_cheese == "y":
    bill = bill + 1
print(f"The price for your pizza is ${bill}")

The price for your pizza is $25

In [14]:
x, y, z = 9, 10, 11

In [15]:
print(x)

9

In [16]:
print(x, y)

9 10

### Data Structures

A **data structure** is a way of organizing, storing, and managing data in memory so it can be accessed and modified efficiently.

Definition: An ordered, mutable (changeable) collection of items.

Allows duplicates.

Written in square brackets [ ].

In [17]:
a = list()

In [21]:
print(type(a))

<class 'list'>

In [19]:
b = []

In [20]:
print(type(b))

<class 'list'>

In [22]:
my_list = [1, 2, 3, 4, 5]

In [23]:
print(my_list)

[1, 2, 3, 4, 5]

In [1]:
fruits = ["apple", "banana", "cherry"]
mixed = [10, "hello", 3.14, True]

In [2]:
my_list = list("python")

In [3]:
print(my_list)

['p', 'y', 't', 'h', 'o', 'n']

In [4]:
my_list[2]

't'

In [5]:
my_list[-4]

't'

In [8]:
## my_list[start: stop: step(default = 1)]
my_list[0:4:2]

['p', 't']

In [14]:
my_list[-6: -2: 2]

['p', 't']

In [15]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

In [16]:
fruits[:4]

['apple', 'banana', 'cherry', 'date']

In [17]:
fruits[1:]

['banana', 'cherry', 'date', 'elderberry']

In [18]:
fruits[1:4]

['banana', 'cherry', 'date']

In [21]:
fruits[-3:]

['cherry', 'date', 'elderberry']

In [22]:
fruits[2:]

['cherry', 'date', 'elderberry']

In [27]:
fruits

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [28]:
fruits[::-1]

['elderberry', 'date', 'cherry', 'banana', 'apple']

In [29]:
fruits[:]

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [30]:
nested_list = [1, 2, 3, ["Hello", "John", [1,2, 16, 17, ["Paul", True], 'John']], "Sam"]
nested_list[3]

['Hello', 'John', [1, 2, 16, 17, ['Paul', True], 'John']]

In [31]:
x = nested_list[3]

In [32]:
x

['Hello', 'John', [1, 2, 16, 17, ['Paul', True], 'John']]

In [33]:
x[2]

[1, 2, 16, 17, ['Paul', True], 'John']

In [34]:
y = x[2]

In [35]:
y

[1, 2, 16, 17, ['Paul', True], 'John']

In [36]:
y[-1]

'John'

In [37]:
nested_list

[1, 2, 3, ['Hello', 'John', [1, 2, 16, 17, ['Paul', True], 'John']], 'Sam']

In [42]:
nested_list[3][2][5]

'John'

In [45]:
nested_list[3][2][5]

'John'

In [46]:
nested_list

[1, 2, 3, ['Hello', 'John', [1, 2, 16, 17, ['Paul', True], 'John']], 'Sam']

In [53]:
nested_list[3][2][0:4]

[1, 2, 16, 17]

In [54]:
fruits

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [56]:
fruits[1] = "berry"

In [57]:
fruits

['apple', 'berry', 'cherry', 'date', 'elderberry']

In [59]:
fruits[2: 4] = ['carrot', 'dragonfruit']

In [60]:
fruits

['apple', 'berry', 'carrot', 'dragonfruit', 'elderberry']

In [62]:
fruits[0::4] = ['Avocado', 'eggplant']

In [63]:
fruits

['Avocado', 'berry', 'carrot', 'dragonfruit', 'eggplant']

In [64]:
fruits

['Avocado', 'berry', 'carrot', 'dragonfruit', 'eggplant']

In [65]:
## List methods
# my_list.methid_name()

fruits.append("fig")

In [66]:
fruits

['Avocado', 'berry', 'carrot', 'dragonfruit', 'eggplant', 'fig']

In [67]:
fruit = "guava"
fruits.append(fruit)

In [68]:
fruits

['Avocado', 'berry', 'carrot', 'dragonfruit', 'eggplant', 'fig', 'guava']

In [69]:
fruits.insert(2, "cherry")

In [71]:
print(fruits)

['Avocado', 'berry', 'cherry', 'carrot', 'dragonfruit', 'eggplant', 'fig', 'guava']

In [72]:
more_Fruits = ["per", "grape"]
fruits.extend(more_Fruits)

In [73]:
fruits

['Avocado',
 'berry',
 'cherry',
 'carrot',
 'dragonfruit',
 'eggplant',
 'fig',
 'guava',
 'per',
 'grape']

In [74]:
fruits.extend(['pear', 'cucumber'])

In [75]:
fruits

['Avocado',
 'berry',
 'cherry',
 'carrot',
 'dragonfruit',
 'eggplant',
 'fig',
 'guava',
 'per',
 'grape',
 'pear',
 'cucumber']

In [76]:
fruits.pop()

'cucumber'

In [77]:
fruits

['Avocado',
 'berry',
 'cherry',
 'carrot',
 'dragonfruit',
 'eggplant',
 'fig',
 'guava',
 'per',
 'grape',
 'pear']

In [78]:
fruits.remove("per")

In [79]:
fruits

['Avocado',
 'berry',
 'cherry',
 'carrot',
 'dragonfruit',
 'eggplant',
 'fig',
 'guava',
 'grape',
 'pear']

In [80]:
del fruits[-2]

In [81]:
fruits

['Avocado',
 'berry',
 'cherry',
 'carrot',
 'dragonfruit',
 'eggplant',
 'fig',
 'guava',
 'pear']

In [82]:
fruits.clear()

In [83]:
fruits

[]

In [84]:
2 in [3, 4, 5, 2, 6]

True

In [85]:
2 not in [3, 4, 5, 2, 6]

False

In [86]:
min([1, 2, 3, 4, 0.5])

0.5

In [87]:
my_list = [2, 3, 4, 5, 6]

In [89]:
max(my_list)

6

In [90]:
sum(my_list)

20

In [91]:
len(my_list)

5

## Tuple

A tuple in Python is an ordered, immutable, and heterogeneous collection of elements enclosed in parentheses ( ).

In [92]:
numbers = (1, 2, 3, 4)
fruits = ("apple", "banana", "cherry")
mixed = (10, "hello", 3.14, True)

In [93]:
fruits[-1]

'cherry'

In [94]:
fruits[-1] = "Mango"

TypeError: 'tuple' object does not support item assignment

In [95]:
type(fruits)

tuple

In [96]:
x, y = 3, 4

In [97]:
x

3

In [98]:
x = 3, 4, 5

In [99]:
type(x)

tuple

In [100]:
x

(3, 4, 5)

In [101]:
x = (5,)

In [102]:
type(x)

tuple

In [103]:
fruits = ['apple', 'banana', 'cheery', 'date']

In [104]:
fruits_tuple = tuple(fruits)

In [105]:
fruits_tuple

('apple', 'banana', 'cheery', 'date')

In [106]:
type(fruits_tuple)

tuple

In [107]:
fruits = tuple(fruits)

In [108]:
fruits

('apple', 'banana', 'cheery', 'date')

In [109]:
type(fruits)

tuple

In [110]:
t = (1, [2, 3], 4)

t[1][1] = 25

In [111]:
t

(1, [2, 25], 4)

In [112]:
fruits

('apple', 'banana', 'cheery', 'date')

In [113]:
fruits.index("cheery")

2

In [114]:
fruits.count("cheery")

1

In [115]:
numbers = (1, 2, 3, 4, 5)

# Tuple Unpacking
x, y = (1, 2, 3, 4, 5)

ValueError: too many values to unpack (expected 2)

In [116]:
x, *y = (1, 2, 3, 4, 5)

In [1]:
*x, y = (1, 2, 3, 4, 5)

In [2]:
y

5

In [3]:
x

[1, 2, 3, 4]

In [4]:
len((1, 2, 3, 4, 8, 9))

6

In [6]:
## range(start, stop(exclusive), step)list()
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
print(tuple(range(0, 100, 3)))

(0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99)

### Dictionary

A dictionary in Python is an **unordered**, **mutable**, **key‚Äìvalue** data structure enclosed in **curly braces** {}.

A dictionary stores data in pairs ‚Äî a key (unique identifier) and a value (data associated with that key).

In [ ]:
# Keys must be immutable: Keys can be strings, numbers, tuples ‚Äî NOT lists or dictionaries.

In [9]:
empty = {}

type(empty)

dict

In [10]:
empty2 = dict()

In [11]:
empty2

{}

In [12]:
type(empty2)

dict

In [13]:
mukram = {"name": "Amusa-Kadri Mukram", "age": 19, 2: 100}

In [15]:
mukram = dict(name="Amusa-Kadri Mukram", age=19, address="Saabo, Yaba")

In [16]:
mukram

{'name': 'Amusa-Kadri Mukram', 'age': 19, 'address': 'Saabo, Yaba'}

### Accessing items

In [17]:
mukram['name']

'Amusa-Kadri Mukram'

In [18]:
mukram['address']

'Saabo, Yaba'

In [20]:
print(f"My name is {mukram['name']} and I am {mukram['age']}years old, and I live at {mukram['address']}")

My name is Amusa-Kadri Mukram and I am 19years old, and I live at Saabo, Yaba

In [21]:
mukram['food']

KeyError: 'food'

In [23]:
mukram.get("name", "Key not found")

'Amusa-Kadri Mukram'

In [26]:
mukram.get("foods")

In [ ]:
print(f"My name is {mukram.get("food")} and I am {mukram['age']}years old, and I live at {mukram['address']}")

My name is Amusa-Kadri Mukram and I am 19years old, and I live at Saabo, Yaba

In [29]:
print(mukram.get("food"))

None

In [31]:
print(mukram.get("food", None))

None

### ADDING & MODIFYING VALUES

In [32]:
mukram

{'name': 'Amusa-Kadri Mukram', 'age': 19, 'address': 'Saabo, Yaba'}

In [33]:
mukram['city'] = "Lagos"

In [34]:
mukram

{'name': 'Amusa-Kadri Mukram',
 'age': 19,
 'address': 'Saabo, Yaba',
 'city': 'Lagos'}

In [35]:
mukram.update({"country": "Nigeria", "Continent": "Africa"})

In [36]:
mukram

{'name': 'Amusa-Kadri Mukram',
 'age': 19,
 'address': 'Saabo, Yaba',
 'city': 'Lagos',
 'country': 'Nigeria',
 'Continent': 'Africa'}

In [37]:
mukram['age'] = 17

In [38]:
mukram

{'name': 'Amusa-Kadri Mukram',
 'age': 17,
 'address': 'Saabo, Yaba',
 'city': 'Lagos',
 'country': 'Nigeria',
 'Continent': 'Africa'}

In [39]:
mukram.update({"city": "Ibadan", "age": 18})

In [40]:
mukram

{'name': 'Amusa-Kadri Mukram',
 'age': 18,
 'address': 'Saabo, Yaba',
 'city': 'Ibadan',
 'country': 'Nigeria',
 'Continent': 'Africa'}

In [42]:
mukram.pop("Continent")

'Africa'

In [43]:
mukram

{'name': 'Amusa-Kadri Mukram',
 'age': 18,
 'address': 'Saabo, Yaba',
 'city': 'Ibadan',
 'country': 'Nigeria'}

In [44]:
mukram.keys()

dict_keys(['name', 'age', 'address', 'city', 'country'])

In [45]:
mukram.values()

dict_values(['Amusa-Kadri Mukram', 18, 'Saabo, Yaba', 'Ibadan', 'Nigeria'])

In [46]:
mukram.items()

dict_items([('name', 'Amusa-Kadri Mukram'), ('age', 18), ('address', 'Saabo, Yaba'), ('city', 'Ibadan'), ('country', 'Nigeria')])

In [48]:
mukram.items()

dict_items([('name', 'Amusa-Kadri Mukram'), ('age', 18), ('address', 'Saabo, Yaba'), ('city', 'Ibadan'), ('country', 'Nigeria')])

In [52]:
my_dict2 = {"school": "Adeleke University", "course": "Accounting", "name": "John Samuel"}

In [53]:
mukram.update(my_dict2)

In [54]:
mukram

{'name': 'John Samuel',
 'age': 18,
 'address': 'Saabo, Yaba',
 'city': 'Ibadan',
 'country': 'Nigeria',
 'school': 'Adeleke University',
 'course': 'Accounting'}

In [55]:
del mukram['school']

In [56]:
mukram

{'name': 'John Samuel',
 'age': 18,
 'address': 'Saabo, Yaba',
 'city': 'Ibadan',
 'country': 'Nigeria',
 'course': 'Accounting'}

In [57]:
mukram.popitem()

('course', 'Accounting')

In [58]:
mukram

{'name': 'John Samuel',
 'age': 18,
 'address': 'Saabo, Yaba',
 'city': 'Ibadan',
 'country': 'Nigeria'}

In [59]:
mukram.clear()

In [60]:
mukram

{}

In [61]:
user = {"name": "Mike"}
user.setdefault("age", 18)   # Adds age if not present

18

In [62]:
user

{'name': 'Mike', 'age': 18}

In [63]:
students = {
    "s1": {"name": "Ayo", "age": 20},
    "s2": {"name": "Bola", "age": 22}
}

students['s1']

{'name': 'Ayo', 'age': 20}

In [64]:
students['s1']['age']

20

In [65]:
students

{'s1': {'name': 'Ayo', 'age': 20}, 's2': {'name': 'Bola', 'age': 22}}

In [66]:
gomycode_students = {
    "student1": {
        "name": "Mukram", "age": 18, "city": "Lagos" 
    },
    "student2": {
        "name": "Victory", "age": 28, "city": "Benin"
    },
    "student3": {
        "name": "Kudirat", "age": 25, "city": "Ibadan"
    },
    "student4": {
        "name": "Promise", "age": 21, "city": "Abuja"
    }
}

In [67]:
gomycode_students

{'student1': {'name': 'Mukram', 'age': 18, 'city': 'Lagos'},
 'student2': {'name': 'Victory', 'age': 28, 'city': 'Benin'},
 'student3': {'name': 'Kudirat', 'age': 25, 'city': 'Ibadan'},
 'student4': {'name': 'Promise', 'age': 21, 'city': 'Abuja'}}

In [68]:
gomycode_students['student4']

{'name': 'Promise', 'age': 21, 'city': 'Abuja'}

In [69]:
gomycode_students['student4']['name']

'Promise'

#### This is why dictionaries are used in:

1. Machine learning feature lookups

2. Databases, caches

3. Indexing large datasets

4. APIs and JSON processing

In [71]:
student = {
    "name": "Taofeek",
    "age": 24,
    "department": "Data Science",
    "level": 400,
    "gpa": 4.72
}

In [ ]:
size = input("What size of Pizza do you want: (S/M/L)").lower()
bill = 0
if size == "s":
    bill = bill + 15 # bill += 15
elif size == 'm':
    bill += 20
else:
    bill += 25
    
add_pepperoni = input("Do you want Pepperoni: (Y/N)").lower()
if add_pepperoni == 'y':
    if size == "s":
        bill = bill + 2 
    else: 
        bill = bill + 3
else:
    bill = bill 
    
add_cheese = input("Do you want Cheese: (Y/N)").lower()   
if add_cheese == "y":
    bill = bill + 1
else:
    bill = bill 
print(f"The price for your pizza is ${bill}")

In [77]:
x = 43

if x > 40:
    print("Greater than forty")
else:
    print("Less than forty")

Greater than forty

In [78]:
"Greater than forty" if x > 40 else "Less than forty"

'Greater than forty'

```python
value_if_true if condition else value_if_false
```

In [91]:
size = input("What size of Pizza do you want: (S/M/L)").lower()

size_dict = {"s": 15, "m": 20, "l": 25}

bill = size_dict.get(size)
print(bill)
add_pepperoni = input("Do you want Pepperoni: (Y/N)").lower()
pepperoni = {"y": bill + 2 if size == 's' else bill + 3, "n": bill}
bill = pepperoni.get(add_pepperoni)
add_cheese = input("Do you want Cheese: (Y/N)").lower() 
cheese = {"y": bill + 1, "n": bill}  

cheese.get(add_cheese)

25

29

### Set

A set in Python is an unordered, unique, mutable collection of items.

In [92]:
A = {1, 2, 3, 4}

‚úî No duplicate values

‚úî Order does not matter

‚úî Supports mathematical set operations

Union ( ‚à™ ): Combines elements from both sets, without duplicates.

In [93]:
A = {1, 2, 3, 3, 4, 5, 6}

B = {5, 6, 7, 7, 8}

print(A)

{1, 2, 3, 4, 5, 6}

In [95]:
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [96]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

Intersection ( ‚à© ): Returns only elements present in both sets.

In [97]:
A & B

{5, 6}

In [98]:
A.intersection(B)

{5, 6}

Difference ( ‚àí ): Returns items in A but not in B.

In [99]:
A - B

{1, 2, 3, 4}

In [100]:
A.difference(B)

{1, 2, 3, 4}

Symmetric Difference ( ‚ñ≥ ): Returns elements that are in either set, but not in both.

In [101]:
A ^ B

{1, 2, 3, 4, 7, 8}

In [102]:
A.symmetric_difference(B)

{1, 2, 3, 4, 7, 8}

Subset ( ‚äÜ ): Checks if all items in A are inside B.

In [103]:
A <= B

False

In [104]:
A.issubset(B)

False

Superset ( ‚äá )

Checks if A contains all items in B.

In [105]:
A >= B

False

In [106]:
A.issuperset(B)

False

Disjoint Sets

Two sets are disjoint if they have no element in common.

In [107]:
A.isdisjoint(B)

False

In [108]:
A.add(10)

In [109]:
A

{1, 2, 3, 4, 5, 6, 10}

In [110]:
A.remove(10)

In [111]:
A

{1, 2, 3, 4, 5, 6}

In [112]:
A.discard(6)

In [113]:
A

{1, 2, 3, 4, 5}

In [116]:
A

{1, 2, 3, 4, 5}

In [118]:
A = list(A)

In [119]:
A

[1, 2, 3, 4, 5]

In [120]:
a  = set(A)

In [121]:
a

{1, 2, 3, 4, 5}

## LOOPS

In [1]:
x = list(range(1, 6))

In [2]:
x

[1, 2, 3, 4, 5]

In [3]:
for num in x:
    print(num)

1
2
3
4
5

In [6]:
for num in range(6, 1, -1):
    print(num-2)

4
3
2
1
0

In [7]:
name = "Olaide"

for index in range(len(name)):
    print(name[index])

O
l
a
i
d
e

In [9]:
for index in range(0, 5):
    print("Happy Men's Day")

Happy Men's Day
Happy Men's Day
Happy Men's Day
Happy Men's Day
Happy Men's Day

In [10]:
for _ in range(0, 5):
    print("Happy Men's Day")

Happy Men's Day
Happy Men's Day
Happy Men's Day
Happy Men's Day
Happy Men's Day

In [11]:
import random

In [12]:
fruits = ['Apple', 'Banana', 'Carrot', 'Dragon fruit', 'Eggplant', 'Fig', 'Guava']

In [18]:
random.choice(fruits)

'Banana'

In [21]:
alpha = ['k', 'h', 'g', 'B', 'A', 'w']

password = ""
for _ in range(4):
    password = password + random.choice(alpha)
print(password)

hBAB

In [22]:
import string

# Lowercase alphabet
lowercase_letters = string.ascii_lowercase
print(f"Lowercase: {lowercase_letters}")

# Uppercase alphabet
uppercase_letters = string.ascii_uppercase
print(f"Uppercase: {uppercase_letters}")

Lowercase: abcdefghijklmnopqrstuvwxyz
Uppercase: ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [24]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [25]:
numbers = list(range(0, 10))

In [29]:
symbols = string.punctuation

In [30]:
password = ""
for _ in range(4):
    password += random.choice(lowercase_letters)

for _ in range(4):
    password += random.choice(uppercase_letters)
    
for _ in range(4):
    password += str(random.choice(numbers))
    
for _ in range(4):
    password += random.choice(symbols)

In [31]:
password

"nznuZCVS4204$\\/'"

In [32]:
numbers = list(range(1, 30))
## Print out only even numbers   

for num in numbers:
    if num % 2 == 0:
        print(num)
    else:
        continue

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [33]:
numbers = list(range(1, 30))
## Print out only even numbers   

for num in numbers:
    if num % 2 != 0:
        print(num)
    else:
        continue

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [34]:
numbers = list(range(1, 30))
## Print out only even numbers   

for num in numbers:
    if num % 2 != 0:
        print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

# List Comprehension

In [35]:
x

[1, 2, 3, 4, 5]

In [37]:
for num in x:
    print(num+2)

3
4
5
6
7

In [38]:
# [num + 2 for num in x]
[num +2 for num in x]

[3, 4, 5, 6, 7]

In [39]:
new_list = []
for num in x:
    new_list.append(num+2)
    
print(new_list)

[3, 4, 5, 6, 7]

In [1]:
for _ in range(5):
    print("Welcome Back Unserious Vodiah")

Welcome Back Unserious Vodiah
Welcome Back Unserious Vodiah
Welcome Back Unserious Vodiah
Welcome Back Unserious Vodiah
Welcome Back Unserious Vodiah

In [2]:
x = list(range(0, 31))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [3]:
even_lists = []
odd_lists = []

for num in x:
    if num % 2 == 0:
        even_lists.append(num)
    else:
        odd_lists.append(num)

In [4]:
even_lists

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [5]:
odd_lists

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [6]:
even_lists = [num for num in x if num % 2 == 0]

In [7]:
even_lists

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [8]:
odd_lists = [num for num in x if num % 2 != 0]

In [9]:
odd_lists

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [10]:
odd_lists

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [12]:
odd_strings = [str(num) for num in odd_lists]
odd_strings

['1',
 '3',
 '5',
 '7',
 '9',
 '11',
 '13',
 '15',
 '17',
 '19',
 '21',
 '23',
 '25',
 '27',
 '29']

In [13]:
"".join(odd_strings)

'1357911131517192123252729'

In [14]:
my_dict = {
    "name": "Taofeek Oladipupo",
    "Age": 21,
    "job": "Data Analyst & Analytical Engineer",
    "Address": "Somolu Bariga"
}

In [15]:
for item in my_dict:
    print(item)

name
Age
job
Address

In [18]:
for key, value in my_dict.items():
    print(f"{key}: {value}")

name: Taofeek Oladipupo
Age: 21
job: Data Analyst & Analytical Engineer
Address: Somolu Bariga

In [19]:
for key in my_dict.items():
    print(key)

('name', 'Taofeek Oladipupo')
('Age', 21)
('job', 'Data Analyst & Analytical Engineer')
('Address', 'Somolu Bariga')

## Functions

```python
def function_name(arguments):
    # do something
```

In [20]:
def main():
    print("Hello classs")

In [21]:
main()

Hello classs

In [22]:
def main(name):
    print(f"Hello {name}")

In [23]:
main("Promise")

Hello Promise

In [24]:
main("Halim")

Hello Halim

In [25]:
def main(firstname, lastname):
    print(f"My name is {firstname} {lastname}")
main("Odia", "Victory")

My name is Odia Victory

In [27]:
def main(firstname, lastname):
    print(f"My name is {firstname} {lastname}")
main(lastname="Odia", firstname="Victory")

My name is Victory Odia

In [28]:
def main(g):
    print(f"My name is {g}")

In [30]:
name = input()

main(g = name)

My name is Taofeek

In [31]:
def dollar_to_naira(dollar):
    print(f"The converion of {dollar}$ to naira is {dollar * 1450}")

In [32]:
dollar_to_naira(55000)

The converion of 55000$ to naira is 79750000

In [33]:
def dollar_to_naira(dollar, naira_equivalent=1450):
    print(f"The converion of {dollar}$ to naira is {dollar * naira_equivalent}")

In [36]:
dollar_to_naira(dollar=55000)

The converion of 55000$ to naira is 79750000

In [37]:
def main(country="Nigeria"):
    print(f"Hello {country}")

In [38]:
main()

Hello Nigeria

In [39]:
main("Cameroon")

Hello Cameroon

In [42]:
def fah_to_cel(f):
    print(f"The conversion of {f} to celcius is {(5/9 * f - 32):.3f}")

In [43]:
fah_to_cel(120)

The conversion of 120 to celcius is 34.667

In [44]:
def fah_to_cel(f):
    print(f"The conversion of {f} to celcius is {round(5/9 * f - 32, 3)}")

In [45]:
fah_to_cel(120)

The conversion of 120 to celcius is 34.667

In [48]:
def add(a, b):
    print(a + b)

In [50]:
y = add(3, 5)
print(y)

8
None

In [51]:
def add(a, b):
    return a + b

In [52]:
add(3, 4)

7

In [53]:
y = add(3, 4)

In [54]:
y

7

## Function

A **function** is a reusable block of code that performs a specific task.

Think of it as a machine:

- You give it input
- It processes something
- It returns output

```python
def function_name([inputs|argumemnt]):
    # do something
```

In [1]:
def main():
    print("Hello World")

In [2]:
main()

Hello World

In [3]:
def greet(name):
    print(f"Helo {name}")

In [4]:
greet(name = "Taofeek")

Helo Taofeek

In [5]:
def greet(first_name, last_name):
    print(f"Hello {first_name} {last_name}")

In [6]:
greet("Kudirat", "Ejiowo")

Hello Kudirat Ejiowo

In [7]:
def students(name, country="Nigeria"):
    print(f"May name is {name} and I am from {country}")

In [8]:
students("Kudirat")

May name is Kudirat and I am from Nigeria

In [9]:
students("Kudirat", "Canada")

May name is Kudirat and I am from Canada

In [10]:
def divide(a, b):
    print(a / b)

In [11]:
divide(20, 0)

ZeroDivisionError: division by zero

In [12]:
def divide(a, b):
    try:
       print(a / b)
    except Exception as e:
        print(e)

In [13]:
divide(20, 0)

division by zero

In [14]:
def student(name, age):
    print(name, age)

student(25, "Tayo")

25 Tayo

In [15]:
def student(name, age):
    print(name, age)

student(age=25, name="Tayo")

Tayo 25

In [16]:
def check_even_odd(number):
    if number % 2 == 0:
        print("Even number")
    else:
        print("Odd number")

In [17]:
check_even_odd(23)

Odd number

In [20]:
my_list = []
def check_even_odd(numbers):
    for number in numbers:
         if number % 2 == 0:
             my_list.append("Even")
         else:
            my_list.append("Odd")
    print(my_list)

In [21]:
check_even_odd(list(range(0, 21)))

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [22]:
list(range(0, 21))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
celsius_temp = [30.0, 60.0, 75.0, 100.0, 120.0]

Write a function that returns a dictionary of word lengths for a list of words.

In [23]:
my_dict = {}

my_dict['Apple'] = len("Apple")

In [24]:
my_dict

{'Apple': 5}

In [25]:
fruits = ['Apple', 'Banana', 'Carrot', 'Dragonfruits', 'Eggplants', 'Fig']

# {"Apple": 5, "Banana": 6, "Carrot": 6, ......}

def wordcount(my_lists):
    my_word_count = {}
    for word in my_lists:
        my_word_count[word] = len(word)
    return my_word_count

In [26]:
wordcount(fruits)

{'Apple': 5,
 'Banana': 6,
 'Carrot': 6,
 'Dragonfruits': 12,
 'Eggplants': 9,
 'Fig': 3}

In [ ]:
def dyrah(word):
    i = 0
    for letter in word:
        i += 1
    return i

In [30]:
dyrah("Apple")

5

In [31]:
def wordcount(my_lists):
    my_word_count = {}
    for word in my_lists:
        my_word_count[word] = dyrah(word)
    return my_word_count

In [32]:
fruits = ['Apple', 'Banana', 'Carrot', 'Dragonfruits', 'Eggplants', 'Fig']

In [33]:
wordcount(fruits)

{'Apple': 5,
 'Banana': 6,
 'Carrot': 6,
 'Dragonfruits': 12,
 'Eggplants': 9,
 'Fig': 3}

In [37]:
def greet(name: str):
    return f"Hello {name}"

In [36]:
greet("Kudirat")

'Hello Kudirat'

In [38]:
greet(50)

'Hello 50'

In [39]:
name = "Ibrahim"
type(name)

str

In [40]:
def greet(name: str):
    if isinstance(name, str):
       return f"Hello {name}"
    else:
        raise TypeError(f"The name argument should be a str instead you gave a {type(name)}")

In [41]:
greet(50)

TypeError: The name argument should be a str instead you gave a <class 'int'>

In [42]:
from typing import List, Union, Dict

In [43]:
def wordcount(my_lists: List):
    my_word_count = {}
    for word in my_lists:
        my_word_count[word] = dyrah(word)
    return my_word_count

In [44]:
def main(my_dict: Dict[str, int]):
    ...

In [51]:
def main(my_dict: Dict[str, int]):
    for key, value in my_dict.items():
        print(f"{key}: {value}")

In [52]:
main({"Age": 30, "salary": 10000000, "Years of experience": 10})

Age: 30
salary: 10000000
Years of experience: 10

In [53]:
import pandas as pd

In [ ]:
pd.DataFrame({})

In [ ]:
def example(a:int, b:int):
    """
    A function that takes in two number and add them together
    
    Args:
      a: int An integer
      b: int An integer
     
    Example  
    >>> example(2, 3)
    5
    """
    return a + b

example()

In [54]:
def add_numbers(a: int, b: int) -> int:
    """
    Add two integer values.

    This function receives two integers and returns their arithmetic sum.
    It is designed to demonstrate basic type hints, clean documentation
    and reproducible examples.

    Args:
        a (int): The first number.
        b (int): The second number.

    Returns:
        int: The sum of `a` and `b`.

    Example:
        >>> add_numbers(2, 3)
        5

    Raises:
        TypeError: If any of the inputs is not an integer.
    """
    if not isinstance(a, int) or not isinstance(b, int):
        raise TypeError("Both a and b must be integers.")
    return a + b

In [55]:
add_numbers(3, 5)

8

In [66]:
import main2

In [67]:
main2.addnumber(45, 56)

101

In [68]:
main2.a

778

In [69]:
import main2 as b

In [70]:
b.addnumber(90, 100)

190

In [71]:
from main2 import addnumber, a, divnumber

In [72]:
addnumber(89, 96)

185

In [73]:
from main2 import *

In [74]:
addnumber(9, 90)

99

In [1]:
def add(a, b):
    return a + b

In [2]:
x = add(45, 12)

In [3]:
x

57

In [4]:
type(x)

int

In [5]:
print(type(x))

<class 'int'>

```python
class ClassName:
    ## Attribute
    ## Action(method|functions) (def)
```

In [6]:
def main():
    name = input("Enter name")
    school = input("Enter school")
    
    return f"{name} from {school}"

main()

'Harry Porter from Griffindor'

In [7]:
class Students:
    main()

In [8]:
Students()

In [11]:
class Students:
    ...

In [13]:
student1 = Students() ## An instance

In [14]:
student1

In [15]:
student1.name = "Harry Porter" 
student1.school = "Griffindor"

In [ ]:
def main():
    return f"{student1.name} from {student1.school}"

In [17]:
main()

'Harry Porter from Griffindor'

In [19]:
student2 = Students()
student2.name = "Suliyat Alagbe"
student2.school = "Hufflepuff"

In [22]:
def main():
    return f"{student2.name} from {student2.school}"

In [23]:
main()

'Suliyat Alagbe from Hufflepuff'

In [24]:
class Students:
    def __init__(self, name_of_student, school_of_student):
        self.name = name_of_student
        self.school = school_of_student

In [25]:
student1 = Students("Taofeek Oladipupo", "Unilag")

In [27]:
student2 = Students("Mukram Amusa-Kadri", "Adeleke")

In [28]:
## Accessing an attribute
student1.name

'Taofeek Oladipupo'

In [29]:
student2.name

'Mukram Amusa-Kadri'

In [31]:
print(f"{student2.name} from {student2.school}")

Mukram Amusa-Kadri from Adeleke

In [32]:
class Students:
    def __init__(self, name_of_student, school_of_student):
        self.name = name_of_student
        self.school = school_of_student
        
    def info(self):
        return f"{self.name} from {self.school}"

In [33]:
stud1 = Students("Taofeek", "Unilag")

In [34]:
stud1.name

'Taofeek'

In [35]:
stud1.school

'Unilag'

In [37]:
stud1.info()

'Taofeek from Unilag'

In [38]:
stud3 = Students("Ibrahim", "Unilorin")

In [39]:
stud3.name

'Ibrahim'

In [40]:
stud3.info()

'Ibrahim from Unilorin'

OOP stands for Object-Oriented Programming. It's a way of designing programs using objects and classes.

- Object: A real-world entity (e.g., a dog, a car, a student).

- Class: A blueprint/template for creating objects.

### Why Use OOP?
1. To model real-world things more naturally.

2. Reusability of code through inheritance.

3. Easier maintenance.

4. Encapsulation (hiding details and exposing only what‚Äôs necessary).

5. Polymorphism (using one interface for multiple forms).

## Basic Terminologies in OOP (Python)

| **Term**      | **Meaning**                                  |
|---------------|----------------------------------------------|
| `Class`       | Blueprint or template                        |
| `Object`      | Instance of a class                          |
| `Method`      | Function inside a class                      |
| `Attribute`   | Variable associated with a class/object      |
| `Constructor` | Method that runs when an object is created: `__init__` |

- Classes are a way by which, in object-oriented programming, we can create our own type of data and give them names.
- A class is like a mold for a type of data ‚Äì where we can invent our own data type and give them a name.
- We can modify our code as follows to implement our own class called Student:

Any time you create a class and you utilize that blueprint to create something, you create what is called an ‚Äúobject‚Äù or an ‚Äúinstance‚Äù. In the case of our code, student is an object.

- The constructor in Python is the `__init__()` method.
- It automatically runs when you create a new object from a class.

**Its purpose**:

To initialize (set up) the object‚Äôs data when the object is created.

In [ ]:
class Student:
    def __init__(self, name_of_student, house_of_student):
        self.name = name_of_student
        self.house = house_of_student

`self` is a reference to the current object.

It lets you:

- Access and modify the object's data and methods inside the class.

- Differentiate between instance variables (self.x) and local variables (name).

Here:

- name is a parameter passed in

- self.name means ‚Äúthis specific student‚Äôs name‚Äù

So self.name = name means:

> "Set the object‚Äôs name to whatever name was passed in."

In [ ]:
student = Student("Harry Porter", "Griffindor")
student.house

In [ ]:
class Student: 
    def __init__(a, name, house):
        a.name = name  
        a.house = house

In [ ]:
student = Student("Harry Porter", "Griffindor")

In [ ]:
class Student: 
    def __init__(a, name, house):
        a.name = name  
        a.house = house
        
    def get_info(a):
        return f"{a.name} is from {a.house}"

In [ ]:
student = Student("Harry Porter", "Griffindor")
student.house

In [31]:
class Animal:
   def __init__(self,name,breed):
       self.name = name 
       self.breed = breed 

   def info(self,owner):
       return f"The name of the dog is {self.name} and is a {self.breed} and is owned by {owner}"

In [4]:
class user:
  ...

In [5]:
 user1 = user()

In [6]:
user1

In [9]:
user1.name = "Amusa Mukram"
user1.bio = "i am a boy, i give dyrah food money, i take care of dyrah expenses "

In [8]:
user1.name

'Amusa Mukram'

In [34]:
class user:
    def __init__(self,name_of_user, user_password, user_bio):
        self.name =name_of_user
        self.password = user_password
        self.bio = user_bio

user1 = user("Taofeek Olawoye" , "Success@29", "i am from kwara state, and i love playing football")
user2 = user("Ibrahim Abu", "Ibrahim09" , "Emi omo oro")

In [36]:
class user:
    def __init__(self,name_of_user, user_password, user_bio):
        self.name =name_of_user
        self.password = user_password
        self.bio = user_bio
    
    def info(self):
        return f"My name is {self.name} and my password is {self.password} "
user1 = user("Taofeek Olawoye" , "Success@29", "i am from kwara state, and i love playing football")
user2 = user("Ibrahim Abu", "Ibrahim09" , "Emi omo oro")